body {
    /*background-color: #f7ebce;*/
    background-color: #f6f8f2;
}

form {
    margin: 0 auto;
    width: 20%;
    padding: 3%;
}

.well {
    background-color: #187f8b;
    box-shadow: 10px 10px grey;
    border-radius: 25px;
    border-style: none;
    outline: 0;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.well:hover {
    background-color: #538584;
    border: 2px solid #187f8b;
}

.well h1 {
    color: #f6f8f2 !important;
    font-size: 22pt;
}

.well h2 {
    color: #96da89 !important;
    font-size: 32pt;
}

.well h2 span {
    color: #f48494 !important;
}

#header {
    font-family: helvetica;
    font-style: italic;
    font-size:100px;
}

#deal {
    color: #30d2ff;
}

#watcher {
    /*color: #6bc5d2;*/
    color: #187f8b;
}

#image {
    box-shadow: 10px 10px grey;
    border:30px solid white;
    border-radius: 25px;
}

#link {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#link:hover {
    text-decoration: none !important;
}

/*
body {
    background-color: #b7efff;
}

.well {
    background-color: #7adfff;


#deal {
    color: #30d2ff;
}

#watcher {
    color: #0f00bf;
}
*/
