<!doctype html>

<html>
<title>
  DealWatcher
</title>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='stylesheet.css') }}>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
    <body>
    <h1 id="header" align="center">
      <span id="deal">Deal</span>
      <span id="watcher">Watcher</span>
    </h1>
    {% if item_list %}
    <form method="POST" align="center">
        <input name="text">
        <input type="submit">
    </form>
    <a href={{ item_list[min_price_index].link }} id = "link">
        <div class="well" align="center">
            <img src={{ item_list[min_price_index].image }} id="image">
            <h1 id="featured">~ FEATURED ITEM ~</h1>
            <h1> {{ item_list[min_price_index].name }} </h1>
            <h2> {{ item_list[min_price_index].cost }} <span>{{ item_list[min_price_index].savings }}</span> </h2>
        </div>
    </a>
        {% for i in range(length) if i != min_price_index%}

        <a href={{ item_list[i].link }} id = "link">
            <div class="well" align="center">
                <img src={{ item_list[i].image }} id="image">
                <h1> {{ item_list[i].name }} </h1>
                <h2> {{ item_list[i].cost }} <span>{{ item_list[i].savings }}</span> </h2>
        	</div>
        </a>
        {% endfor %}
    {% else %}
        <form method="POST">
            <input name="text">
            <input type="submit">
        </form>
    {% endif %}
    </body>
</html>
